/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };

    gpio_keys {
        compatible = "gpio-keys";
        btn_user1: btn_user1 {
            label = "User Button 1";
            gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
        };
        btn_user2: btn_user2 {
            label = "User Button 2";
            gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
        };
    };

    gpio-leds {
        compatible = "gpio-keys";
        led_user1: led_user1 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        };
        led_user2: led_user2 {
            gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
        };
    };

    gpio_nfcc {
        compatible = "gpio-leds";
        nfcc_irq: nfcc_irq {
            gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        };
       
        nfcc_ven: nfcc_ven {
            gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
        };
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
    	compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

&i2c0 {
    compatible = "raspberrypi,pico-i2c", "snps,designware-i2c";

//    pinctrl-0 {
//		group1 {
//			pinmux = <I2C0_SDA_P4>, <I2C0_SCL_P5>;
//            input-enable;
//			//input-schmitt-enable;
//		};
//    };

    pinctrl-0 = <&i2c0_default>; //Sollte von den Pins her stimmen, wenn das aus rpi_pico kommt.

	//resets = <&reset RPI_PICO_RESETS_RESET_I2C0>;
	//clocks = <&clocks RPI_PICO_CLKID_CLK_SYS>;
	//interrupts = <24 RPI_PICO_DEFAULT_IRQ_PRIORITY>;
	//interrupt-names = "i2c0";
	status = "okay";

    //i2c-device
	#address-cells = <1>;
	#size-cells = <0>;
    //clock-frequency = <I2C_BITRATE_FAST>;

    pn7150: pn7150@28 {
        reg = <0x28>;
    };
};

//&pinctrl {
//   	i2c0_bornhack: i2c0_bornhack {
//		group1 {
//			pinmux = <I2C0_SDA_P4>, <I2C0_SCL_P5>;
//			input-enable;
//			input-schmitt-enable;
//		};
//  };
//};
